<div class="side-panel-is-left">
  <% @comments.each do |comment| %>

       Comment Posted by: <h4></span><%= comment.user.username %></h4>

          <span>Rating: <h4></span><%= comment.rating %></h4>

        <class="testimonial">

            <%= comment.description %>

          <% if (current_user && comment.user == current_user) %>

            <div class="pr-button">
              <%= button_to 'Edit', edit_bar_comment_path(@bar, comment) %>
              <%= button_to 'Delete', bar_comment_path(@bar, comment), method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>
          <% end %>
    <% end %>
</div>
