
<div class="form-style">
<%= simple_form_for @bar do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :address %>
<% if @bar.persisted? %>
  <%= f.submit 'Update Bar', class: "btn btn-default" %>
  <% else %>
    <%= f.submit 'Add Bar', class: "btn btn-default" %>
<% end %>
  <% end %>

<%= button_to 'Cancel', bars_path, method: :get, class: "btn btn-default" %>
</div>



