
<div class="form-style">
<%= simple_form_for @bar do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :address %>
<% if @bar.persisted? %>
  <%= f.submit 'Update Bar' %>
  <% else %>
    <%= f.submit 'Add Bar' %>
<% end %>
  <% end %>

<%= button_to 'Cancel', bars_path, method: :get, class: "btn-mod.btn-gray" %>
</div>
