<body class="appear-animate">
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <div class="page" id="top">
    <section class="home-section parallax-2" id="home">
      <div class="js-height-full">
        <div class="home-content">
          <div class="home-text">
            <div class="row">
              <div class="col-sm-6">
                <h1 class="hs-line-2 font-alt mb-80 mb-xs-30 mt-50 mt-sm-0">
                  Bar Hopping In Boston
                </h1>
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                  <div class="banner-content">
                    <div class="local-scroll">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                <%= image_tag("bar_banner.png") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="row">
    <h1 class="hs-line-8 font-alt mb-80 mb-xs-30 mt-50 mt-sm-0">
      <div class="col-md-4 align-center">
        Bar Crowd: <%= @day %> <br> @ <%= @hour %>
      </div>
      <div class="col-md-4 align-center">
        Bar
      </div>
      <div class="col-md-4 align-center">
        BarHopper's Likes
      </div>
    </h1>
  </div>

  <% @bars.each do |bar| %>
    <% pop_time = Day.where(bar_id: bar.id, day: @day_now, hour: @hour_now).select(:popularity).take %>
      <div class="row">
        <div class="barh1 col-md-4" id="pop-filler">
          <div id="<%= bar.bar_img %>" class="barfiller">
            <div class="tipWrap">
              <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="<%= pop_time.popularity %>" ></span>
          </div>
        </div>
        <div class="bahr1 col-md-4 align-center" id="bar-name">
          <ul class="barh1">
            <li><%= link_to bar.name, bar_path(bar)%> - <%=bar.location%></li>
          </ul>
        </div>
        <div class="bahr1 col-md-4 align-center" id="bar-name">
          <ul class="barh1">
            <%= link_to image_tag("thumbs_up.png", width: 30, height: 30), like_bar_path(bar), method: :put, id: "upvote" %> <%= bar.upvotes_score %> <%= link_to image_tag("thumbs_down.png", width: 30, height: 30), dislike_bar_path(bar), method: :put, id: "downvote" %> <%= bar.downvotes_score %>
          </ul>
        </div>



        <%= javascript_include_tag "jquery.barfiller" %>
        <script type="text/javascript">

          $(document).ready(function(){

          $('#<%= bar.bar_img %>').barfiller();


          });

        </script>
      </div>
  <% end %>
    <%= link_to "Add bar", new_bar_path %>
</body>
