<br>
<br>
<div class="side-panel-is-left"
<h1><%= @bar.name %></h1>
<p>
  <%= @bar.location %>
  <%= @bar.address %>
</p>
  <% if current_user %>
   <%= link_to "Post Comment", new_bar_comment_path(@bar, @comment) %>
      <% end %>
      <% if (@bar.user == current_user) %>
        <%= link_to "Update", edit_bar_path %>
      <% end %>

<h3 class="comments-header">Comments</h3>
</div>
<%= render "comment" %>
