<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'jquery.barfiller.js' %>
<%= javascript_include_tag 'jquery-1.11.2.min.js' %>
<%= javascript_include_tag 'jquery.easing.1.3.js' %>

<div class="fixed">
    <div class="topbar">
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <div class="nav-logo-wrap local-scroll">
                    <a href="/" class="logo"> BarHopper
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li class="active">
                        <% if current_user %>
                            <li id="active"><%= link_to 'Settings', edit_user_registration_path %></li>
                            <li id="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li id="active"><%= link_to "Sign In", new_user_session_path %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>



