       <%= stylesheet_link_tag    'application' %>
       <%= stylesheet_link_tag    'bootstrap.min.css' %>
       <%= stylesheet_link_tag    'style.css' %>
       <%= stylesheet_link_tag    'style-responsive.css' %>
       <%= stylesheet_link_tag    'animate.min.css' %>
       <%= stylesheet_link_tag    'vertical-rhythm.min.css' %>
       <%= stylesheet_link_tag    'owl.carousel.css' %>
       <%= stylesheet_link_tag    'magnific-popup.css' %>

<div class="fixed">



          <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="/" class="logo"> BarHopper

                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active">
                                   <% if current_user %>
                   <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>

                        </ul>
                    </div>
                </div>



      </ul>
    </nav>
</div>

        <%= javascript_include_tag 'jquery.barfiller.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery-1.11.2.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.easing.1.3.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'bootstrap.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'SmoothScroll.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.scrollTo.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.localScroll.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.viewport.mini.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.countTo.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.appear.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.sticky.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.parallax-1.1.3.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.fitvids.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'owl.carousel.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'isotope.pkgd.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'imagesloaded.pkgd.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.magnific-popup.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false&amp;language=en' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'gmap3.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'wow.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'masonry.pkgd.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.simple-text-rotator.min.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'all.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'contact-form.js' %> <script type="text/javascript"> </script>
        <%= javascript_include_tag 'jquery.ajaxchimp.min.js' %> <script type="text/javascript"> </script>
